html {
  font-family: "Nanum Gothic";
  font-size: 15px;
  background: #f3f5f8;
}

body {
  margin: 0;
  padding: 0;
  height: 200vh;
}

/* *** NAVBAR *** */

nav {
  margin: 0;
  width: 100%;
  color: #ffffff;
  font-size: 14px;

  border-bottom: 1px solid rgba(126, 127, 123, 0.51);
  background-color: #26aa42;

  position: fixed;
  z-index: 2;
  top: 0;

  transition: font-weight 0.2s;
}

nav ul {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 0 25% 0 25%;
  padding: 10px 0 0 0;
  list-style-type: none;
}

nav ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

nav ul li img {
  height: 30px;
  transition: transform 0.2s;
}

nav ul li img:hover {
  transform: scale(1.1);
}

nav ul li input {
  padding-left: 8px;
  height: 30px;

  border: 0;
  border-radius: 8px;
  width: 150px;
  transition: width 0.2s ease-in;
}

nav ul li input:focus {
  width: 200px;
}

nav ul li input:focus::placeholder {
  color: #d0d0d0;
}

.push-right {
  margin-left: auto;
}

nav ul .sidenav {
  margin-right: 25px;
  text-shadow: none;
  padding-bottom: 0;
  border-bottom: rgba(255, 255, 255, 0.15) 1px hidden;
  transition: text-shadow 0.2s, padding-bottom 0.1s, border-bottom 0.05s;
}

nav ul .sidenav:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  border-bottom-style: solid;
}

/* *** BIG CONTAINER *** */

.big-container {
  margin: 70px 20% 0 20%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.left-section {
  position: fixed;
  z-index: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  /*align-content: space-between;*/
  text-align: center;

  top: 50px;
  height: 100%;
  width: 10%;
  padding-top: 20px;

  overflow: hidden;
}

/* *** PROFILE *** */

.profile {
  height: 500px;
}

.profile-picture img {
  width: 180px;
  height: 180px;
  border: 1px solid #c8c8c8;
}

.profile-name {
  margin-top: 10px;
}

/* *** MAIN-SECTION *** */

.main-section {
  flex-grow: 2;
  /*margin-left: 20%;*/
}

/* *** GENERAL *** */
.no-outline {
  outline: none;
}

.circle {
  border-radius: 100%;
}

.cover {
  object-fit: cover;
}