/* --------------------------- */
/* BASIC-SETUP */
/* --------------------------- */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  font-family: "Nanum Gothic", "Roboto", Tahoma, serif;
  font-size: 15px;

  background: #f3f5f8;
}

body {
  height: 100vh;
}

/* --------------------------- */
/* GLOBAL TYPES CSS */
/* --------------------------- */

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

textarea,
input {
  outline: none;
}

textarea:focus::placeholder,
input:focus::placeholder {
  color: #d0d0d0;
}

input[type=file] {
  display: none;
}

/* --------------------------- */
/* SCROLL-BAR */
/* --------------------------- */

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-left: 1px solid rgba(126, 127, 123, 0.51);
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid rgba(53, 54, 51, 0.2);
  background: #cbcccf;
  overflow: hidden;
}

/* --------------------------- */
/* TOP-BAR - NAV-BAR */
/* --------------------------- */

/* *** CONTAINER *** */

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-items: flex-start;
  justify-content: space-evenly;

  margin: 0;

  position: fixed;
  z-index: 6;
  top: 0;

  width: 100%;
  height: 50px;

  color: #ffffff;
  font-size: 14px;

  background-color: #26aa42;

  border-bottom: 1px solid rgba(126, 127, 123, 0.51);

  transition: font-weight 0.2s;

  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
}

/* *** LIST *** */

nav .leftnav {
  list-style-type: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  margin-left: 5%;
}

/* *** LEFT-NAV *** */

nav .leftnav {

}

/* *** LOGO *** */

nav .leftnav .logo {
  margin-right: 10px;
  height: 30px;
}

nav .leftnav .logo svg {
  max-height: 100%;
  height: auto;
  width: auto;

  fill: #fff;

  transition: transform 0.2s;

  cursor: pointer;
}

nav .leftnav .logo svg:hover {
  transform: scale(1.1);
}

/* *** SEARCH-BAR *** */

nav .leftnav .search-bar-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

nav .leftnav .search-bar-container .search-bar {
  margin-left: 5px;
  width: 100%;
  height: 30px;
}

nav .leftnav .search-bar-container .search-bar svg {
  position: absolute;
  height: 15px;
  padding: 7px;
  fill: #7b7b7b;
}

nav .leftnav .search-bar-container .search-bar input {
  box-sizing: border-box;

  width: 65%;
  height: 100%;

  padding: 0 20px 0 30px;

  border: 0;
  border-radius: 8px;

  transition: 0.2s;
}

nav .leftnav .search-bar-container .search-bar input:focus {
  box-shadow:inset 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
  width: 85%;
}

/* *** RIGHT-NAV *** */

nav .rightnav {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;

  height: 100%;
}

nav .rightnav div {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  height: 100%;
  width: 100%;

  text-shadow: none;

  transition: all 0.2s;
}

nav .rightnav div a {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  margin: 10px 20px;

  cursor: pointer;
}

nav .rightnav div:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  background-color: #209238;
}

nav .rightnav div a svg {
  fill: #ffffff;
  height: 23px;
}

nav .rightnav div a span {
  text-transform: capitalize;
  margin-left: 8px;
}

/* --------------------------- */
/* SEARCH-FRIENDS-DROPDOWN */
/* --------------------------- */

.search-friends-dropdown {
  z-index: 5;
  position: fixed;
  top: 50px;

  width: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  visibility: hidden;
  opacity: 0;

  filter: drop-shadow(0 5px 7px rgba(0, 0, 0, 0.4));

  transition: all 0.35s;
}

.search-friends-dropdown .x-button-container {
  position: absolute;
  top: -12px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  justify-content: center;

  cursor: pointer;

  transition: top 0.3s;
}

.search-friends-dropdown .x-button-container:hover {
  top: 0;
}

.search-friends-dropdown .x-button-container .x-button {
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: rgba(191, 0, 0, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  font-size: 13px;
}

.search-friends-dropdown .x-button-container .x-button span {
  position: absolute;
  top: 22px;
  left: 16px;
  font-weight: bold;

  visibility: hidden;
  opacity: 0;

  transition: all 0.3s;
}

.search-friends-dropdown .x-button-container .x-button:hover span {
  visibility: visible;
  opacity: 1;
}

.search-friends-dropdown .results {
  width: 350px;
  height: 160px;

  background-color: #fff;

  border: 1px solid rgba(123, 123, 123, 0.45);

  overflow-y: auto;
  overflow-x: hidden;
}

.search-friends-dropdown .results .result {
  box-sizing: border-box;

  display: none;
  flex-direction: row;
  align-items: center;
  justify-items: center;
  justify-content: space-between;

  padding: 10px;

  width: 100%;
  height: calc(100% / 3);

  background-color: rgba(182, 182, 182, 0.05);

  border-bottom: 1px solid rgba(153, 153, 153, 0.1);

  color: #000;

  overflow: hidden;
}

.search-friends-dropdown .results .result .result-pic {
  width: 35px;
  height: 35px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.search-friends-dropdown .results .result .result-pic img {
  width: 100%;
  height: 100%;
}

.search-friends-dropdown .results .result .result-name {
  margin-left: 20px;
  font-size: 15px;
}

.search-friends-dropdown .results .result .result-add {
  background: linear-gradient(rgba(62, 194, 45, 0.28) 0%, rgba(57, 255, 99, 0.2) 100%);
  border: 1px solid rgba(153, 153, 153, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
}

.search-friends-dropdown .results .result .add div {
  font-size: 12px;
  padding: 3px 8px;
  /*text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);*/
}

/* --------------------------- */
/* LOADING SPINNER */
/* --------------------------- */

.main-loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* --------------------------- */
/* GLOBAL-SECTIONS-CONTAINER */
/* --------------------------- */

.sections-container {
  position: relative;

  display: flex;
  flex-direction: row;

  width: 100%;
  max-width: 1024px;
  margin: 0 auto;

  animation: fadein 1s;
}

@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* --------------------------- */
/* LEFT-SECTION */
/* --------------------------- */

/* *** CONTAINER *** */

.left-section {
  /*position: fixed;*/

  /*z-index: 4;*/

  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-start;*/
  /*justify-items: flex-start;*/

  /*height: 100%;*/
  /*width: 100%;*/
  /*max-width: 250px;*/

  /*margin-left: 15%;*/

  /*overflow: hidden;*/

  position : absolute;

  height: 100%;
  width: 100%;
  max-width: 250px;
}

/* *** PROFILE-INNER-SECTION - PICTURE & NAME *** */

.profile {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;

  position : sticky;
  top: 6em;
  padding: 0 1.5em 3em;
  flex-wrap: wrap;
  margin-top: 6em;
}

.profile-picture {
  z-index: 3;
  width: 100%;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.profile-picture img {
  z-index: 2;
  position: relative;
  max-height: 100%;
  height: 100%;
  width: 100%;
  transition: 0.2s;
}

.profile-picture img:hover {
  /*filter: grayscale(50%);*/
  /*transform: scale(1.1);*/
}

.profile-name {
  text-transform : capitalize;
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

/* --------------------------- */
/* MAIN-SECTION */
/* --------------------------- */

/* *** CONTAINER *** */

.main-section {
  /*z-index: 4;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;

  height: 100%;
  width: 100%;
  max-width: 550px;
  margin-left: 35%;

  !*overflow: hidden;*!*/

  display: flex;
  position: relative;
  top: 6em;
  padding: 0 1.5em 3em;
  flex-wrap: wrap;

  margin-left: 20em;

  overflow: hidden;
}

/* *** NEWS-FEED-CONTAINER *** */

.news-feed {
  width: 95%;
}

/* *** CREATE-POST *** */

.create-post {
  width: 100%;
  height: 100%;

  max-width: 498px;
  max-height: 200px;

  margin: 0 20px;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.1));

  overflow: hidden;
}

.create-post .head {
  /*z-index: 2; !*change it to something that makes more sense - change all z-index in the end !*!*/
  width: 100%;
  background-color: #ebebeb;
  border-bottom: 1px solid rgba(126, 127, 123, 0.2);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
}

.create-post .head .title {
  padding: 5px 10px 5px;
}

.create-post .head .title span {
  font-size: 13px;
  font-weight: bold;
}

.create-post .text {
  height: 40%;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 26px;
}

.create-post .text textarea {
  position: relative;
  font-family: inherit;

  height: 100%;
  width: 100%;

  padding: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

  resize: none;
  border: hidden;

  transition: 0.2s;
}

.create-post .text ::-webkit-scrollbar {
  width: 3px;
  border: 1px hidden #000;
  background-color: transparent;
  overflow: hidden;
}

.create-post .text ::-webkit-scrollbar-thumb {
  border: 1px hidden #000;
  overflow: hidden;
}

.visibility-container {
  z-index: 10;
  background-color: #dedede;
  position: fixed;
  display: block;
  height: 80%;
  width: 20%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;

  visibility: hidden;
  opacity: 0;

  filter: drop-shadow(0px 3px 2px rgba(0, 0, 0, 0.15));

  transition: opacity 0.3s;
}

.visibility-container .dropdown {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.visibility-container .dropdown .visibility-option {
  height: 50%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-items: center;

  cursor: pointer;

  transition: background-color 0.1s;
}

.visibility-container .dropdown .visibility-option:hover {
  background-color: #a8a8a8;
}

.visibility-container .dropdown .visibility-option span {
  font-size: 12px;
}

.visibility-container .dropdown .visibility-option svg {
  width: 15px !important;
  filter: drop-shadow(0 0 1px rgba(0, 0, 0, 0.5)) !important;
}

/* *** NEWS-FEED-POST *** */

.user-post {
  width: 100%;
  height: 100%;

  max-width: 498px;

  margin: 35px 20px;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.0));

  overflow: hidden;
}

.user-post .header-container {
  width: 100%;
}

.user-post .header-container .post-header {
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  overflow: hidden;
}

.user-post .header-container .post-header .left-picture {
  width: 100%;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.user-post .header-container .post-header .left-picture img {
  max-height: 100%;
  height: auto;
  width: auto;
  transition: 0.2s;
}

.user-post .header-container .post-header .right-details {
  width: 100%;
  margin-left: 15px;
}

.user-post .header-container .post-header .right-details .author-name {
  font-weight: bolder;
}

.user-post .header-container .post-header .right-details .more-details {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  padding-top: 3px;
}

.user-post .header-container .post-header .right-details .more-details .date-and-hour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;

  margin: 0 10px;
  font-size: 12px;
  font-family: Roboto, serif;
  color: #7b7b7b;
}

.user-post .header-container .post-header .right-details .more-details .privacy-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.user-post .header-container .post-header .right-details .more-details .privacy-container .privacy {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.user-post .header-container .post-header .right-details .more-details .privacy-container .privacy svg {
  width: 15px;
}

.user-post .post-body {
  width: 100%;
}

.user-post .post-body .content-container {
  overflow: hidden;
  padding: 0 20px 10px 20px;
}

.user-post .post-body .content-container .content {
  font-size: 15px;
  font-family: Roboto, serif;
}

.user-post .post-attachment {

}

.user-post .post-attachment .attachment-picture {

}

.user-post .post-attachment .attachment-picture img {

}

.user-post .post-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.user-post .post-stats .stat-container {
  margin: 10px -20px 10px;
}

.user-post .post-stats .stat-container .stat {
  font-size: 13px;
}

.user-post .options .container .option-container:hover {
  background-color: rgba(213, 213, 213, 0.2);
  filter: none;
}

.user-post .options .container .option-container .option svg {
  width: 30px;
  padding: 7px 0 10px 0;
  transition: filter 0.05s;
}

/* --------------------------- */
/* BOTTOM-OPTIONS */
/* --------------------------- */

/* *** CONTAINERS *** */

.options {
  /*z-index: 2;*/
  width: 100%;
}

.options .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-top: 1px solid rgba(126, 127, 123, 0.2);
  margin: 0 50px;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

.options .container .option-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  justify-content: space-evenly;

  filter: none;
  transition: all 0.1s;
}

/* *** OPTIONS *** */

.options .container .option-container .option {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

/* *** OPTIONS SVG *** */

.options .container .option-container .option svg {
  width: 40px;
  padding: 7px 0 10px 0;
  transition: filter 0.05s;
}

.options .container .option-container .option:hover svg {
  filter: opacity(75%);
}

/* *** OPTIONS TOOLTIP *** */

.options .container .option-container .option:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* *** OPTIONS MOVING LABEL *** */

.options .container .option-container .animate {
  margin-left: 20px;
  transition: all 0.5s;
}

.options .container .option-container .animate label {
  font-weight: bold;

  visibility: hidden;
  opacity: 0;

  cursor: pointer;

  transition: all 0.5s;
}

.options .container .option-container .animate:hover label {
  margin-left: 5px;
  visibility: visible;
  opacity: 1;
}

/* --------------------------- */
/* COMMENTS-OVERLAY */
/* --------------------------- */

/* --------------------------- */
/* TOOLTIP */
/* --------------------------- */

.tooltip-text {
  visibility: hidden;

  font-family: inherit;
  font-size: 13px;
  color: #ffffff;

  background-color: #555;

  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;

  position: absolute;
  bottom: 100%;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-text-bottom {
  visibility: hidden;

  font-family: inherit;
  font-size: 13px;
  color: #ffffff;

  background-color: #555;

  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;

  position: absolute;
  top: 70px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text-bottom::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* --------------------------- */
/* GENERAL */
/* --------------------------- */

.circle {
  border-radius: 100%;
}

.cover {
  object-fit: cover;
}

.visible {
  visibility: visible;
  opacity: 1;
}

.selected {
  /*color: #fff;*/
  background-color: rgba(52, 203, 86, 0.56);
}

/* *** GHOST SCROLLBAR *** */

.ghost-scrollbar {
  height: 100%;
}

.cover-scrollbar {
  position: absolute;
  background: #fff;
  height: 70%;
  top: 30px;
  right: 0;
  width: 10px;
  opacity: 1;
  transition: opacity 0.5s;
}

.ghost-scrollbar:hover .cover-scrollbar {
  opacity: 0;
}

/* --------------------------- */
/* USER-PANEL */ /* DISABLED FOR NOW */
/* --------------------------- */

/* *** CONTAINER *** */

/*
.user-panel-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100px;
  overflow: hidden;
  width: 0;
  height: 202px;
  background-color: rgba(44, 169, 70, 0.25);
  opacity: 0;
  transition: width 0.5s, opacity 0.2s;

  border-bottom-right-radius: 60px;
  border-top-right-radius: 20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.user-panel-container:focus,
.user-panel-container:hover,
.profile-picture img:hover + .user-panel-container {
  opacity: 1;
  width: 300px;
}

!* *** PANEL *** *!

.user-panel {
  margin-left: 30%;
}

.user-panel .panel-option {
  text-align: center;
  margin-bottom: 10px;
  !*font-weight: bolder;*!
  font-size: 15px;
}

.user-panel i {
  margin-right: 10px;
  font-size: 25px;
}*/
