/* --------------------------- */
/* BASIC-SETUP */
/* --------------------------- */

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;

  font-family: "Nanum Gothic";
  font-size: 15px;

  background: #f3f5f8;
}

body {
  height: 100vh;
}

/* --------------------------- */
/* TEXT & HEADERS */
/* --------------------------- */

h2 {
  font-size: 13px;
  font-weight: bold;
}

h3 {
  font-size: 11px;
  font-weight: lighter;
}

/* --------------------------- */
/* INPUT & TEXT-AREA - GLOBAL */
/* --------------------------- */

textarea,
input {
  outline: none;
}

textarea:focus::placeholder,
input:focus::placeholder {
  color: #d0d0d0;
}

/* --------------------------- */
/* SCROLL-BAR */
/* --------------------------- */

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  border-left: 1px solid rgba(126, 127, 123, 0.51);
  overflow: hidden;
}

::-webkit-scrollbar-thumb {
  border-left: 1px solid rgba(53, 54, 51, 0.2);
  background: #cbcccf;
  overflow: hidden;
}

/* --------------------------- */
/* TOP-BAR - NAV-BAR */
/* --------------------------- */

/* *** CONTAINER *** */

nav {
  margin: 0;

  position: fixed;
  z-index: 5;
  top: 0;

  width: 100%;

  color: #ffffff;
  font-size: 14px;

  background-color: #26aa42;

  border-bottom: 1px solid rgba(126, 127, 123, 0.51);

  transition: font-weight 0.2s;

  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.2));
}

/* *** LIST *** */

nav ul {
  list-style-type: none;

  margin: 0 24% 0 24%;
  padding: 10px 0 0 0;
  height: 40px;

  display: flex;
  flex-direction: row;
  align-items: center;
}

/* *** EACH ITEM *** */

nav ul li {
  margin-right: 10px;
  margin-bottom: 10px;
  max-width: 80%;
}

/* *** LOGO *** */

nav ul li .logo {
  height: 30px;
}

nav ul li .logo img {
  max-height:100%;
  height: auto;
  width:auto;
  transition: transform 0.2s;
}

nav ul li .logo img:hover {
  transform: scale(1.1);
}

/* *** SEARCH-BAR *** */

nav ul li .search-bar {
  margin-left: 5px;
}

nav ul li .search-bar svg {
  fill: #7b7b7b;
  height: 15px;
  position: absolute;
  padding: 7px;
}

nav ul li .search-bar input {
  padding-left: 30px;
  height: 30px;
  width: 100px;

  border: 0;
  border-radius: 8px;

  transition: 0.2s;
}

nav ul li .search-bar input:focus {
  box-shadow:inset 1px 1px 4px 4px rgba(0, 0, 0, 0.05);
  width: 150px;
}

/* *** SIDENAV *** */

nav ul .sidenav {
  display: flex;
  flex-direction: row;
  justify-items: flex-end;
  align-items: center;
}

nav ul .sidenav li {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  margin-right: 25px;
  text-shadow: none;
  padding-bottom: 0;
  border-bottom: 1px hidden rgba(255, 255, 255, 0.1);
  transition: text-shadow 0.2s, padding-bottom 0.1s, border-bottom-style 0.05s;
}

nav ul .sidenav li:hover {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  padding-bottom: 3px;
  border-bottom-style: solid;
}

nav ul .sidenav li svg {
  fill: #ffffff;
  height: 24px;
}

nav ul .sidenav li span {
  margin-left: 8px;
}

/* --------------------------- */
/* GLOBAL-SECTIONS-CONTAINER */
/* --------------------------- */

.big-container {
  margin: 100px 18% 0 18%;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: flex-start;
}

/* --------------------------- */
/* LEFT-SECTION */
/* --------------------------- */

/* *** CONTAINER *** */

.left-section {
  z-index: 4;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-items: flex-start;

  height: 100%;
  width: 100%;
  max-width: 250px;

  overflow: hidden;
}

/* *** PROFILE-INNER-SECTION - PICTURE & NAME *** */

.profile {
  position: fixed;
  height: 100%;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.05));
}

.profile-picture {
  z-index: 3;
  width: 100%;
  height: 200px;
  max-width: 200px;
  max-height: 200px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.profile-picture img {
  z-index: 2;
  position: relative;
  max-height:100%;
  height: auto;
  width:auto;
  transition: 0.2s;
}

.profile-picture img:hover {
  filter: grayscale(50%);
  transform: scale(1.1);
}

.profile-name {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

/* --------------------------- */
/* USER-PANEL */
/* --------------------------- */

/* *** CONTAINER *** */

.user-panel-container {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 100px;
  overflow: hidden;
  width: 0;
  height: 202px;
  background-color: rgba(44, 169, 70, 0.25);
  opacity: 0;
  transition: width 0.5s, opacity 0.2s;

  border-bottom-right-radius: 60px;
  border-top-right-radius: 20px;
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.2));

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  justify-content: center;
}

.user-panel-container:focus,
.user-panel-container:hover,
.profile-picture img:hover + .user-panel-container {
  opacity: 1;
  width: 300px;
}

/* *** PANEL *** */

.user-panel {
  margin-left: 30%;
}

.user-panel .panel-option {
  text-align: center;
  margin-bottom: 10px;
  /*font-weight: bolder;*/
  font-size: 15px;
}

.user-panel i {
  margin-right: 10px;
  font-size: 25px;
}

/* --------------------------- */
/* MAIN-SECTION */
/* --------------------------- */

/* *** CONTAINER *** */

.main-section {
  margin-left: 50px;
  z-index: 4;

  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-start;
  /*justify-content: flex-start;
  align-content: space-between;*/

  height: 100%;
  width: 100%;

  /*overflow: hidden;*/
}

/* *** NEWS-FEED-CONTAINER *** */

.news-feed {
  width: 95%;
}

/* *** CREATE-POST *** */

.create-post {
  width: 100%;
  height: 100%;

  max-width: 500px;
  max-height: 200px;

  margin: 0 20px 20px;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.1));

  overflow: hidden;
}

.create-post .head {
  /*z-index: 2; !*change it to something that makes more sense - change all z-index in the end !*!*/
  width: 100%;
  background-color: #ebebeb;
  border-bottom: 1px solid rgba(126, 127, 123, 0.2);
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.05));
}

.create-post .head .title {
  padding: 5px 10px 5px;
}

.create-post .text {
  height: 40%;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 26px;
}

.create-post .text textarea {
  position: relative;
  font-family: inherit;

  height: 100%;
  width: 100%;

  padding: 10px;

  overflow-x: hidden;
  overflow-y: scroll;

  resize: none;
  border: hidden;

  transition: 0.2s;
}

.create-post .text ::-webkit-scrollbar {
  width: 3px;
  border: 1px hidden #000;
  background-color: transparent;
  overflow: hidden;
}

.create-post .text ::-webkit-scrollbar-thumb {
  border: 1px hidden #000;
  overflow: hidden;
}

.create-post .options {
  z-index: 2;

  width: 100%;
}

.create-post .options .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-top: 1px solid rgba(126, 127, 123, 0.2);
  margin: 0 50px;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

.create-post .options .container .option-container {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
  justify-content: space-evenly;
}

.create-post .options .container .option-container img {
  padding: 7px 0 10px 0;
  width: 40px;
  transition: filter 0.05s;
}

.create-post .options .container .option-container img:hover {
  filter: opacity(75%);
}

.create-post .options .container .option-container .option {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.create-post .options .container .option-container .option img:hover + .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* *** NEWS-FEED-POST *** */

.guest-post {
  width: 100%;
  height: 100%;

  max-width: 500px;

  margin: 0 20px 20px;

  display: flex;
  flex-direction: column;
  justify-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: 5px 5px 0 0;
  filter: drop-shadow(0px 10px 8px rgba(0, 0, 0, 0.0));

  overflow: hidden;
}

.guest-post .header-container {
  width: 100%;
}

.guest-post .header-container .post-header {
  padding: 15px;

  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  overflow: hidden;
}

.guest-post .header-container .post-header .left-picture {
  width: 100%;
  height: 50px;
  max-width: 50px;
  max-height: 50px;
  border: 1px solid #c8c8c8;
  overflow: hidden;
}

.guest-post .header-container .post-header .left-picture img {
  max-height: 100%;
  height: auto;
  width: auto;
  transition: 0.2s;
}

.guest-post .header-container .post-header .right-details {
  width: 100%;
  margin-left: 15px;
}

.guest-post .header-container .post-header .right-details .owner-name {
  font-weight: bolder;
}

.guest-post .header-container .post-header .right-details .more-details {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;

  padding-top: 3px;
}

.guest-post .header-container .post-header .right-details .more-details .date-and-hour {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90px;

  margin: 0 10px;
  font-size: 12px;
  font-family: Roboto;
  color: #7b7b7b;
}

.guest-post .header-container .post-header .right-details .more-details .privacy-container {
  display: flex;
  flex-direction: row;
  justify-items: flex-start;
  align-items: center;
}

.guest-post .header-container .post-header .right-details .more-details .privacy-container img {
  width: 40px;
  transition: filter 0.1s;
}

.guest-post .header-container .post-header .right-details .more-details .privacy-container .privacy {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.guest-post .header-container .post-header .right-details .more-details .privacy {

}

.guest-post .header-container .post-header .right-details .more-details .privacy img {
  width: 20px;
}

.guest-post .header-container .post-header .right-details .more-details .privacy img:hover + .tooltip-text-bottom {
  visibility: visible;
  opacity: 1;
}

.guest-post .post-body {
  width: 100%;
}

.guest-post .post-body .content-container {
  overflow: hidden;
  padding: 0 20px 10px 20px;
}

.guest-post .post-body .content-container .content {
  font-size: 15px;
  font-family: Roboto;
}

.guest-post .post-attachment {

}

.guest-post .post-attachment .attachment-picture {

}

.guest-post .post-attachment .attachment-picture img {
  width: 100%;
}

.guest-post .post-stats {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.guest-post .post-stats .stat-container {
  margin: 10px -20px 10px;
}

.guest-post .post-stats .stat-container .stat {
  font-size: 13px;
}

.guest-post .post-options {
  width: 100%;
}

.guest-post .post-options .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  border-top: 1px solid rgba(126, 127, 123, 0.2);
  margin: 0 50px;

  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.1));
}

.guest-post .post-options .container .option-container {
  margin: 10px 50px;
}

.guest-post .post-options .container .option-container .option {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.guest-post .post-options .container .option-container .option img {
  width: 35px;
}

.guest-post .post-options .container .option-container .option svg {
  width: 35px;
}

/* --------------------------- */
/* TOOLTIP */
/* --------------------------- */

.tooltip-text {
  visibility: hidden;

  font-family: inherit;
  font-size: 13px;
  color: #ffffff;

  background-color: #555;

  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;

  position: absolute;
  bottom: 100%;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip-text-bottom {
  visibility: hidden;

  font-family: inherit;
  font-size: 13px;
  color: #ffffff;

  background-color: #555;

  text-align: center;
  padding: 5px 15px;
  border-radius: 20px;

  position: absolute;
  top: 70px;

  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-text-bottom::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

/* --------------------------- */
/* GENERAL */
/* --------------------------- */

.circle {
  border-radius: 100%;
}

.cover {
  object-fit: cover;
}

.visible {
  opacity: 1;
}

.push-right {
  margin-left: auto;
}

/* *** GHOST SCROLLBAR *** */

.ghost-scrollbar {
  height: 100%;
}

.cover-scrollbar {
  position: absolute;
  background: #fff;
  height: 100%;
  top: 30px;
  right: 0;
  width: 10px;
  opacity: 1;
  transition: opacity 0.5s;
}

.ghost-scrollbar:hover .cover-scrollbar {
  opacity: 0;
}